<div ng-controller="HomeController as ctrl" layout="column" ng-cloak>
    <md-content flex layout-padding>
        <md-list flex>
            <h3>Technology</h3>
            <md-list-item>Python</md-list-item>
            <md-list-item>Django</md-list-item>
            <md-list-item>AngularJS</md-list-item>
            <md-list-item>PostgreSQL</md-list-item>
        </md-list>
        <md-list flex>
            <h3>API</h3>
            <md-list-item>
                <a href="/docs" target="_blank">See API</a>
            </md-list-item>
        </md-list>
    </md-content>
</div>  
